<%
  legend[:disposition]
  legend[:position]
%>
<div id="legend" style="color: <%= legend[:text_color] %>; height: <%= legend[:height] %>px;">
  <div>
    <%= legend[:title] %>
  </div>
  <div>
    <%= legend[:subtitle] %>
  </div>
</div>