<div class="legend" style="color: <%= legend.text_color %>; height: <%= legend.height %>px;">
  <div class="title">
    <%= legend.title %>
  </div>
  <div class="subtitle">
    <%= legend.subtitle %>
  </div>
</div>