<h1>Your poster</h1>

<div class="map-container">
  <svg class="route">
    <rect width="100px" height="100px" fill="red" />
  </svg>
  <div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-route-colors="<%= @route_colors.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
