<h1>MY TREK POSTER</h1>

<%= render 'map_params' %>

<%= render 'map_container', markers: @markers, poster: @poster, route_colors: @route_colors, elevation_path: @elevation_path %>

<button id="save-button">Save button</button>
