// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map-container {
  position: relative;
}

// SVG ROUTE
// .route {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

#elevation-profile {
  background: #FFF3;
  padding: 10px 5px;
}