// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#map-params {
  width: 100%;
}

#map-container {
  position: relative;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// SVG ROUTE
// .route {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

#elevation-profile {
  background: #FFF3;
}